/* Réinitialisation */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f6f9;
    padding:30px;
}

/* Titre */
h1{
    text-align:center;
    margin-bottom:25px;
    color:#2c3e50;
}

/* Menu vertical */
.menu{
    list-style:none;
    width:300px;
    margin:auto;
    display:flex;
    flex-direction:column; /* Haut vers bas */
    gap:12px;
}

.menu a{
    display:flex;
    align-items:center;
    gap:12px;
    text-decoration:none;
    background:#3498db;
    color:white;
    padding:15px;
    border-radius:10px;
    font-size:18px;
    transition:0.3s;
    box-shadow:0 4px 8px rgba(0,0,0,0.15);
}

.menu a:hover{
    background:#2980b9;
    transform:translateY(-3px);
}

.menu i{
    font-size:20px;
    width:25px;
    text-align:center;
}
.contenu{
    width: 100%;
    height: 700px;
    border: none;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
}